<template name="newPosts">
  {{> postsList options}}
</template>

<template name="bestPosts">
  {{> postsList options}}
</template>

<template name="postsList">
  <div class="posts">
    {{#if noPosts}}
      <h1 class="no-posts">No Posts!</br> Go find something interesting and post it here</h1>
    {{else}}
      {{#each postsWithRank}}
        {{> postItem}}
      {{/each}}

      {{#if postsReady}}
        {{#unless allPostsLoaded}}
          <a href="#" class="load-more">Load More</a>
        {{/unless}}
      {{else}}
        <div>{{> spinner}}</div>
      {{/if}}
    {{/if}}
  </div>
</template>